*{
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:600px;
}
.flex1{
    display: flex;
    align-items: center;
    gap:60px;
}
.link{
    text-decoration: none;
}
.g{
    color:grey;
    font-weight: 400;
}
.b{
    color:black;
    font-weight: 400;
}